@model RDFindAuto.Models.Marca

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marcaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marcaDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMarca }) |
    @Html.ActionLink("Back to List", "Index")
</p>
